body {
    background-color: black;
}

p {
    display: inline;
}

p.Guild {
    background-color: chartreuse;
}

p.Channel {
    background-color: cyan;
}

p.Author {
    color: red;
}

p.Date {
    color: yellow;
}

p.Content {
    color: white;
}

div{
    color: white;
}