body {
    background-color: black;
}

p {
    display: inline;
    
}

p.Guild {
    background-color: chartreuse;
    font-weight: bold;
}

p.Channel {
    background-color: cyan;
    font-weight: bold;
}

p.Author {
    color: red;
    text-shadow: -1px 0 white;
}

p.Date {
    color: yellow;
}

p.Content {
    color: white;
}

div{
    color: white;
    font-weight: bold;
}

a.File{
    color: hotpink;
    font-weight: bold;
    text-shadow: 1px 0 orange;
}